<%= "SHOW" %>
<%= @booking.url_room %>
<div 
  class="twilio-video" 
  data-sid="<%= ENV["ACCOUNT_SID"] %>" 
  data-room="<%= @booking.url_room %>" 
  data-token="<%= @token %>"
>
  <div id="remote-media-div">
    <video id="video" autoplay muted="true" width="320" height="240"></video>
  </div> 
 </div>
