<%= "SHOW" %>
<%= @booking.url_room %>
<div 
  class="twilio-video" 
  data-sid="<%= ENV["ACCOUNT_SID"] %>" 
  data-room="<%= @booking.url_room %>" 
  data-token="<%= @token %>"
>
  <div class="remote-media-div">
    <video class="participant" autoplay muted="true" width="700" height="400"></video>
  </div> 

  <div class="remote-media-div">
    <video id="userVideo" autoplay muted="true" width="320" height="240"></video>
  </div> 
 </div>
