
<div class="banner">

   <div class="container">

      <div class="banner-content">
        <h1>Les Binômes</h1>
        <p>Rester solidaire <br> en temps de distanciation sociale</p>
        <a class="btn btn-primary" href="/proposals">Découvrir nos coups de pouce</a>
      </div>

  </div>

</div>

<div class="container">

  <div class="home_text">
    La distanciation sociale ne devrait pas être un frein à <strong>l'entraide</strong>. <br>
    Vous avez besoin d'un <strong>coup de pouce</strong>? <br>
    <strong>Tout peut se faire à distance</strong>!
  </div>


       <div class="card-primary-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path "soutien_scolaire.jpg" %>)">
         <div class="card-body text-center">
          <%=  link_to "Soutien scolaire", proposals_path %>
        </div>
      </div>


      <div class="card-primary-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path "loisirs.jpg" %>)">
         <div class="card-body text-center">
           <%=  link_to "Moment loisirs", proposals_path %>
        </div>
      </div>

      <div class="card-primary-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path "conseils.jpg" %>)">
         <div class="card-body text-center">
          <%=  link_to "Conseils", proposals_path %>
        </div>
      </div>

</div>









