
<div class="modal fade" id="modalCenter<%= proposal.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= proposal.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        <% proposal.slots.each do |slot| %><br>
          <%= slot.start_time %>
          <%= link_to "reservation", proposal_bookings_path(proposal), method: :post, style: "color: black;" %>
        <% end %>
        </p>
        
      </p>
      </div>
      <div class="modal-footer">
        <%= link_to "Réservez", proposal_bookings_path(proposal), method: :post, class:"btn btn-primary" %>

      </div>

    </div>
  </div>
</div>


