
<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Trouvez votre coup de pouce!</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <% @categories.each do |cat|  %>
      <%= link_to cat.name, proposals_path(:cat => cat.id), {class: "btn btn-primary"} %>
    <% end %>
    <%= link_to "Annuler le filtre", proposals_path, {class: "btn btn-primary"} %>
  </div>

  <div class="row">
    <% @proposals.each do |proposal| %>
      <div class="col-3 m-4">
        <div class="card-index">
          <%= image_tag proposal.secondary_category.image, alt:"image catégorie" %>
          <div class="card-index-secondary-category">
            <p>
            <%= proposal.primary_category.name%> -
            <%= proposal.secondary_category.name%>
            </p>
          </div>
          <div class="card-index-name">
            <%= proposal.name%>
          </div>
          <div class="card-index-description">
            <%= proposal.description%>
          </div>
          <a class="button btn-index-card" data-toggle="modal" data-target="#modalCenter<%= proposal.id %>" href="/proposals">Disponibilités</a>
        </div>
      </div>
      <%= render 'modal', proposal: proposal %>
    <% end %>
  </div>
</div>


