
<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Trouvez votre coup de pouce!</h1>
  </div>
</div>

<div class="container">

  <div class="text-left position-relative">
    <% @categories.each do |cat|  %>
      <%= link_to cat.name, proposals_path(:cat => cat.id), class: "btn btn-primary #{params[:cat].to_i == cat.id ? "active" : ""}" %>
    <% end %>

    <%= link_to proposals_path, class: "cross" do %>
      <i class="fas fa-times-circle"></i><br>
    <% end %>
  </div>

  <div class="row">
    <% @proposals.each do |proposal| %>
      <div class="col-4 my-4">
        <div class="card-index" style="background-image: url('<%= image_path proposal.secondary_category.image %>')">
          <div class="card-info">
            <div class="card-index-name">
              <%= proposal.name%>
            </div>
            <div class="card-index-secondary-category">
              <p>
              <%= proposal.secondary_category.name%>
              </p>
            </div>
            <div class="card-index-description">
             <%= proposal.description%>
            </div>
            <a class="button btn-index-card" data-toggle="modal" data-target="#modalCenter<%= proposal.id %>" href="/proposals">Disponibilités</a>
          </div>
        </div>
      </div>
      <%= render 'modal', proposal: proposal, booking: @booking %>
    <% end %>
  </div>
</div>


