<div class="title-wrapper" id="title-custom">
  <div class="container">
    <h1 class="title">Faites votre proposition de coup de pouce!</h1>
  </div>
</div>

 <div class="image_form">
  <div class = "container col-4">
    <% if policy(Proposal).create? %>
      <%= simple_form_for @proposal do |c| %>
        <%= c.input :name, placeholder: "Cuisiner des lasagnes", label: "Titre"%>
        <%= c.input :primary_category, as: :radio_buttons, collection: @categories.pluck(:name), wrapper: :vertical_collection_inline, label: "Thématique principale" %>
        <%= simple_fields_for :secondary_options do |f|  %>
          <div class="d-none secondary-input" id="soutien-scolaire">
            <%= f.input :secondary, as: :radio_buttons, collection: @categories.first.secondary_categories, wrapper: :vertical_collection_inline, label: "Précisez l'activité" %>
          </div>
          <div class="d-none secondary-input" id="moment-loisir">
            <%= f.input :secondary, as: :radio_buttons, collection: @categories.second.secondary_categories, wrapper: :vertical_collection_inline, label: "Précisez l'activité" %>
          </div>
          <div class="d-none secondary-input" id="conseils">
            <%= f.input :secondary, as: :radio_buttons, collection: @categories.third.secondary_categories, wrapper: :vertical_collection_inline, label: "Précisez l'activité" %>
          </div>
        <% end %>
        <div class="d-none">
          <%= c.input :secondary_category %>
        </div>
        <%= c.input :start_time, input_html: { class: "datetimepicker" }, label: "Début de votre disponibilité" %>
        <%= c.input :end_time, input_html: { class: "datetimepicker"}, label: "Fin de votre disponibilité"  %>
        <%= c.input :description, as: :text, placeholder: "Pendant cette heure, je vous propose de cuisiner la recette de lasage de ma grand mère ... " %>
        <%= c.button :submit, 'Validez', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
 </div>
</div>

