<<<<<<< HEAD
<div class = "container">
  <% if policy(Proposal).create? %>
    <%= simple_form_for @proposal do |c| %>
      <%= c.input :name %>
      <%= c.input :primary_category, as: :radio_buttons, collection: @categories.pluck(:name), wrapper: :vertical_collection_inline %>
      <%= simple_fields_for :secondary_options do |f|  %>
        <div class="d-none secondary-input" id="soutien-scolaire">
          <%= f.input :secondary, as: :radio_buttons, collection: @categories.first.secondary_categories, wrapper: :vertical_collection_inline %>
        </div>
        <div class="d-none secondary-input" id="moment-loisir">
          <%= f.input :secondary, as: :radio_buttons, collection: @categories.second.secondary_categories, wrapper: :vertical_collection_inline %>
        </div>
        <div class="d-none secondary-input" id="conseils">
          <%= f.input :secondary, as: :radio_buttons, collection: @categories.third.secondary_categories, wrapper: :vertical_collection_inline %>
        </div>
      <% end %>
      <div class="d-none">
        <%= c.input :secondary_category %>
      </div>
      <%= c.input :start_time %>
      <%= c.input :end_time %>
      <%= c.input :description, as: :text %>
      <%= c.button :submit, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>

