<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Mon activité</h1>
  </div>
</div>


<div class="container">
  <h3>Mes réservations</h3>

<div class="row">

    <% @bookings.each do |booking| %>
      <div class="col-3 m-4">

        <div class="card-dashboard-bookings">
          <%= image_tag booking.proposal.secondary_category.image, alt:"image catégorie" %>
          <div class="card-dashboard-bookings-secondary-category">
            <p>
            <%= booking.proposal.primary_category.name%> -
            <%= booking.proposal.secondary_category.name%>
            </p>
          </div>
          <div class="card-dashboard-bookings-name">
            <%= booking.proposal.name%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<ul>
  <% @bookings.each do |booking| %>
  <li>
    <%= booking.proposal.name %> - avec <%= booking.proposal.proposer.email %>
    <i><%= booking.proposal.start_time %></i> sur
    <a href= <%= booking.url_room %> ><i> mon lien Zoom ici </i></a>
  </li>
  <br>
  <% end %>
</ul>

<h2>Mes proposals</h2>

  <div class="row">

    <% @proposals.each do |proposal| %>
      <div class="col-3 m-4">

        <div class="card-dashboard-proposals">
          <%= image_tag proposal.secondary_category.image, alt:"image catégorie" %>
          <div class="card-dashboard-proposals-secondary-category">
            <p>
            <%= proposal.primary_category.name%> -
            <%= proposal.secondary_category.name%>
            </p>
          </div>
          <div class="card-dashboard-proposals-name">
            <%= proposal.name%>
          </div>
          <div class="card-delete-update-dashboard">
            <% if policy(proposal).destroy? %>
              <%= link_to "Supprimer", proposal_path(proposal), method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer votre proposition?' },class: "btn" %>
            <% end %>
            <% if policy(proposal).edit? %>
              <%= link_to "Modifier", edit_proposal_path(proposal), class: "btn" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
