<h2>Mes réservations</h2>


<ul>
  <% @bookings.each do |booking| %>
  <li><%= booking.proposal.name %></li>
  <li><%= booking.proposal.primary_category.name %></li>
  <li><%= booking.proposal.secondary_category.name %></li>
  <br>
  <% end %>
</ul>


 <% if policy(proposal).edit? %>
            - <%= link_to "Update", edit_proposal_path(proposal) %>
          <% end %>
          <% if policy(proposal).destroy? %>
            - <%= link_to "Delete", proposal_path(proposal), method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer votre proposition?' } %>
          <% end %>
