<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Mon activité</h1>
  </div>
</div>


<div class=example>
    <div class=tabs>
     <div id=tab1> <a href="#tab1">Tab 1</a>
      <div>One might well argue, that...</div>
     </div>

     <div id=tab2> <a href="#tab2">Tab 2</a>
      <div>... 30 lines of CSS is rather a lot, and...</div>
     </div>

     <div id=tab3> <a href="#tab3">Tab 3</a>
      <div>... that 2 should have been enough, but...</div>
     </div>

     <div id=default2> <a href="#default2">Default</a>
      <div>... it works!</div>
     </div>
    </div>
   </div>
  </div>


<div class="container">
  <h3>Mes réservations</h3>

<div class="row">
      <div class="col-3 m-4">
      <% @bookings.each do |booking| %>
        <div class="card-dashboard-bookings">
          <%= image_tag booking.proposal.secondary_category.image, alt:"image catégorie" %>
          <div class="card-dashboard-bookings-secondary-category">
            <p>
            <%= booking.proposal.primary_category.name%> -
            <%= booking.proposal.secondary_category.name%>
            </p>
          </div>
          <div class="card-dashboard-bookings-name">
            <%= booking.proposal.name%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">

    <% @proposals.each do |proposal| %>
      <div class="col-3 m-4">

        <div class="card-dashboard-proposals">
          <%= image_tag proposal.secondary_category.image, alt:"image catégorie" %>
          <div class="card-dashboard-proposals-secondary-category">
            <p>
            <%= proposal.primary_category.name%> -
            <%= proposal.secondary_category.name%>
            </p>
          </div>
          <div class="card-dashboard-proposals-name">
            <%= proposal.name%>
          </div>
          <div class="card-delete-update-dashboard">
            <% if policy(proposal).destroy? %>
              <%= link_to "Supprimer", proposal_path(proposal), method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer votre proposition?' },class: "btn" %>
            <% end %>
            <% if policy(proposal).edit? %>
              <%= link_to "Modifier", edit_proposal_path(proposal), class: "btn" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
