<h2>Mes réservations</h2>

<ul>
  <% @bookings.each do |booking| %>
  <li>
    <%= booking.proposal.name %> - avec <%= booking.proposal.proposer.email %>
    <i><%= booking.proposal.start_time %></i> sur
    <a href= <%= booking.url_room %> ><i> mon lien Zoom ici </i></a>
  </li>
  <br>
  <% end %>
</ul>

<h2>Mes proposals</h2>

<ul>
  <% @proposals.each do |proposal| %>
    <li>
      <%= proposal.name%>
      <% if policy(proposal).edit? %>
        - <%= link_to "Update", edit_proposal_path(proposal) %>
      <% end %>
      <% if policy(proposal).destroy? %>
        - <%= link_to "Delete", proposal_path(proposal), method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer votre proposition?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
