<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Mon activité</h1>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes réservations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes propositions de coups de pouce</a>
    </li>
  </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <% @bookings.each do |booking| %>
                <div class="col-3 m-4">
                  <div class="card-dashboard-bookings">
                    <%= image_tag booking.proposal.secondary_category.image, alt:"image catégorie" %>
                    <div class="card-dashboard-bookings-categories">
                      <p>
                      <%= booking.proposal.primary_category.name%>
                      <%= booking.proposal.secondary_category.name%>
                      </p>
                    </div>
                    <div class="card-dashboard-bookings-name">
                      <b><%= booking.proposal.name %></b><br>
                      <p id="date-time"> <i class="far fa-clock icon-red"> Le lundi de 16h à 18h</i> <br>
                      <i class="far fa-user-circle icon-red"> <%= booking.proposer.email %></i> <br>
                      <%= link_to booking do %>
                        <i class="fas fa-link icon-red"> voir les details </i> <br>
                      <% end %>
                      <div class="update-delete">
                        <%= link_to booking_path(booking), method: :delete, data:{ confirm: 'Etes vous sûr de vouloir supprimer votre réservation?' } do %>
                          <i class="fas fa-trash delete-booking"></i>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">
        <% @proposals.each do |proposal| %>
          <div class="col-3 m-4">
            <div class="card-dashboard-bookings">
              <%= image_tag proposal.secondary_category.image, alt:"image catégorie" %>
              <div class="card-dashboard-bookings-categories">
                <p>
                <%= proposal.primary_category.name%> -
                <%= proposal.secondary_category.name%>
                </p>
              </div>
              <div class="card-dashboard-bookings-name">
                <b><%= proposal.name %></b><br>
                <p id="date-time"> <i class="far fa-clock icon-red">  Lundi 23 Juin à 18h </i> <br>
                <% if proposal.booking.present? %>
                  <%= link_to proposal.booking.url_room do %>,
                    <i class="fas fa-link icon-red">Votre lien zoom</i> <br>
                  <% end %>
                <% end %>
              </div>
              <div class="update-delete">
                <% if policy(proposal).edit? %>
                  <%= link_to edit_proposal_path(proposal), data:{ confirm: 'Etes vous sûr de vouloir modifier votre coup de pouce?' } do %>
                    <i class="fas fa-pen update"></i>
                  <% end %>
                <% end %>
                <% if policy(proposal).destroy? %>
                   <%= link_to proposal_path(proposal), method: :delete, data:{ confirm: 'Etes vous sûr de vouloir supprimer votre coup de pouce?' }  do %>
                      <i class="fas fa-trash delete"></i>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    </div>
  </div>
</div>


